* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

section {
    overflow: hidden;
}

/*ふわっとCSS*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/* font */
@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-Med.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-Boo.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-LigObl.ttf) format("truetype");
    font-style: italic;
    font-weight: lighter;
}

h2 {
    text-align: center;
    font-family: "Futura";
    font-weight: bold;
    font-size: 40pt;
    padding: 40px;
    color: #3D5CDB;
}

@media(max-width: 450px) {
    h2 {
        font-size: 200%;
        padding-bottom: 20px;
    }
}

/* header */
.bg-swicher {
    width: 100vw;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-position: center center;
    background-size: cover;
}

header {
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
}

header img {
    width: 900px;
    margin: auto;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.logo p {
    font-size: 45px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-family: "Futura";
    font-style: italic;
    font-weight: lighter;
}

@media(max-width:450px) {
    .logo img {
        width: 70vw;
        margin: auto;
    }
}

@media(max-width:450px) {
    .logo p {
        font-size: 100%;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        font-family: "Futura";
        font-style: italic;
        font-weight: lighter;
    }
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
}


@media (max-width: 450px) {
    nav {
        display: none;
    }
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 35px;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 30px 15px 0;
    color: #fff;
    transition: 0.5s;
    font-family: "Futura";
    font-weight: normal;
    font-size: 20pt;
    text-align: left;
    transition: 0.5s;
}

nav a:hover {
    color: #3d5cdb;
}

/* introduction */
.intro_detail {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.intro_detail img {
    width: 500px;
    background-size: cover;
}

.intro_detail p {
    font-weight: lighter;
    line-height: 32px;
    margin: 0 50px 20px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
}

.intro_detail a {
    width: 170px;
    height: 40px;
    color: #fff;
    background-color: #3d5cdb;
    border-radius: 12px;
    font-size: 20px;
    line-height: 40px;
    margin: 30px 165px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    text-align: center;
}

.intro_detail a:hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}

.intoro_detail2 img {
    width: 500px;
    height: 333px;
    background-size: cover;
}

.intro_detail2 a {
    background-color: #ffbf00;
}

.intoro_detail2 a:hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}

.intro_content_right {
    width: 500px;
    height: 324px;
    margin: 20px;
}

.intro_content_left {
    width: 500px;
    height: 356px;
    margin: 20px;
}

@media(max-width:450px) {
    .intro_detail {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;
        font-size: 13px;
    }

    .intro_detail img {
        width: 100%;
        object-fit: contain;
    }

    .intro_content_right {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }

    .intro_content_right p {
        width: 90%;
        margin: 0 auto;
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
    }

    .intro_content_right a {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #3D5CDB;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }

    .intro_content_left {
        width: 100%;
        margin-bottom: 20px;
        line-height: 2;
    }

    .intro_content_left p {
        width: 90%;
        margin: 0 auto;
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
    }

    .intro_content_left a {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        width: 170px;
        height: 40px;
        background-color: #ffbf00;
        color: #ffffff;
        border-radius: 12px;
        text-align: center;
        line-height: 40px;
        font-size: 15px;
        font-weight: bold;
    }

    .intro_detail2 {
        flex-wrap: wrap-reverse;
    }
}

/* courses */

canvas {
    position: absolute;
    /*親のブロックを基準にして相対位置に配置する*/
    /*位置指定*/
    top: 0;
    right: 0;
    z-index: -1;
    /*重ね順を-1に　※1以上だとほかのコンテンツの上に被さってしまいます*/
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
}

#courses {
    background-color: rgba(186, 213, 245, 0.6);
    z-index: -1;
}

.course {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 768px) {
    .course-container {
        width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .course-container {
        width: 1170px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.course-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.course_info {
    width: 180px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(106, 137, 152, 0.2);
    margin: 20px 10px 10px;
}

.course_info h3 {
    color: #183c61;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
    font-size: 11px;
    font-weight: 700;
    margin: 10px;
    padding-top: 20px;
    text-align: center;
}

.course_img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_img img {
    max-width: 100%;
    max-height: 100%;
}

.course_info a {
    border-radius: 12px;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', sans-serif;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    width: 170px;
    height: 40px;
    background-color: #ffbf00;
    font-weight: bold;
}

.course_info a:hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}

#html a {
    background-color: #f16529;
}

#css a {
    background-color: #29a9df;
}

#unity a {
    background-color: #333;
}

#ruby a {
    background-color: #ff5252;
}

#js a {
    background-color: #fed700;
}

#swift a {
    background-color: #fe7536;
}

#go a {
    background-color: #73cedd;
}

@media(max-width: 450px) {

    .course_info {
        width: 140px;
        height: 200px;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgba(106, 137, 152, 0.2);
        padding: 10px;
    }

    .course_img {
        width: 90px;
        height: 90px;
        margin: 10px auto 0;
    }


    .course_info h3 {
        font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, sans-serif;
        font-size: 14px;
        margin: 0;
    }

    .course_info a {
        display: block;
        margin: 15px auto;
        text-decoration: none;
        width: 100%;
        height: 40px;
        color: #ffffff;
        border-radius: 10px;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        font-weight: bold;
    }

    .course_info a:hover {
        box-shadow: 0 2px 15px 2px rgba(133, 140, 142, 0.4);
    }
}

/* images */
#slick {
    margin-bottom: 50px;
}

#slick img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.slider {
    margin: 30px auto;
    width: 80%;
}

/* access */
#access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#access iframe {
    width: 600px;
    height: 400px;
}

@media(max-width: 450px) {
    .map {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 75%;
    }

    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* footer */
footer {
    color: #3d5cdb;
    line-height: 60px;
    text-align: center;
    height: 60px;
    font-family: "Futura";
    font-weight: normal;
    font-size: 1rem;
}